.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100%;
    font-family: Helvetica;
    font-size: 10px;
}


h1 {
    color: rgb(215, 15, 55);
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;

}

time {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;

}

.button {
    overflow:hidden;
    position: relative;
    text-align: center;
}

p {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width:  300px) {

 h1{
        font-size: 16px;
        font-style: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    }

    time {


        font-size: 5px;
         margin-left: 10px;
         margin-right: 10px;
    }

    p {
        font-size: 3px;
        margin-top: 10px;
           margin-bottom: 10px;


    }


}