img {
    float: left;
    border-radius: 50%;
    border: 9px solid rgb(202, 8, 47);
    box-shadow: 0 6px 12px 0 rgb(80, 79, 79);
    background-position:left top;
    margin-left:8px;
    margin-top:8px;
    width: 130px;
    height: 70px;
}