.container {
    background: gray;
}

.header {
    font-size: 2rem;
}

.button {
    background-color: #DD0F0F;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #D3D3D3;
    float:right;
    margin-right:-5px;
    color: white;
}